<!DOCTYPE html>


<html>
<head>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1.0">*@

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">

</head>

<body style="padding-top:70px;">
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container" id="page">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon icon-heart" style="font-size:30px; color:#3498db;"></span>
                </button>
                <a class="navbar-brand hidden-xs hidden-sm" href="#home"><span class="icon icon-heart" style="font-size:18px; color:#3498db;"></span></a>
            </div>

            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" href="http://www.saudisoft.com/"> <img id="Img1" src="~/Images/MISlogo2.png" alt="" /> </a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li> <img src="~/Images/SSlogo.png" /></li>
                </ul>

            </div><!--/.nav-collapse -->
            
        </div>
        </nav>
        <div class="container">
            @RenderBody()
        </div>
        <hr />
        <footer>
            <p>MIS WEB Application - &copy;SaudiSoft @DateTime.Now.Year</p>
        </footer>

        
        
</body>

</html>
