@model MIS_2019.Models.UserModel
<nav class="navbar navbar-default navbar-fixed-top" id="Menu">
    <div class="container" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon icon-heart" style="font-size:30px; color:#3498db;"></span>
            </button>
            <a class="navbar-brand hidden-xs hidden-sm" href="#home"><span class="icon icon-heart" style="font-size:18px; color:#3498db;"></span></a>
        </div>

        <div class="navbar-collapse collapse">

            <ul class="nav navbar-nav">
                <li><a class="navbar-brand" href="http://www.saudisoft.com/"> <img id="Img1" src="~/Images/MISlogo2.png" alt="" /> </a></li>
            </ul>
             
            <ul class="nav navbar-nav navbar-right">
                <li> <img src="~/Images/SSlogo.png" /></li>
                @if (Session["UserName"] != null || Session["BranchCode"]!=null)
                {
                    <li><a>@Session["UserName"].ToString()</a></li>
                    <li><a>@Session["BranchCode"].ToString()</a></li>
                }

            </ul>

        </div><!--/.nav-collapse -->
   
    
      
        <div class="navbar-collapse collapse">
         
                <ul class="nav navbar-nav" >
                    <li><a  href="/Form/ViewForm">Form</a></li>
                    <li><a href="/Report/ViewReport">Report</a></li>
                    
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["LoginCredentials"] != null)
                    {
                        @*<li>@Html.ActionLink("Logout", "LoginPage", "Logout")</li>*@
                        <li><a onclick="" href="/Login/LoginPage">Logout</a></li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Login", "LoginPage", "Login")</li>
                    }

                </ul>
                <ul class="nav navbar-nav navbar-right " >
                    <li class="dropdown" id="Language">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Language<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a class="language" id="rtl" value="arabic"><img src="~/Images/ar-icon.png" alt="Arabic" height="22" width="22"/>العربية</a></li>
                            <li><a class="language" id="ltr" value="english"><img src="~/Images/en-icon.png" alt="English"  height="22" width="22"/>English</a></li>
                        </ul>
                    </li>
                </ul>
        
        </div>
    </div>
</nav>
<script  type="text/javascript">
    //to hide and view report mnu and form mnu 
    var currentList = {}
    function showReportList(id) {
        $("#Report").html(currentList.name);
        $("#Form").hide();
        $("#Report").show();
        $("#form1").show();

    }
    function showHome(id) {
        $("#Form").show();
        $("#Report").hide();
        $("#form1").hide();
        $("#main_Image").show();
    }

    document.getElementById('Language').addEventListener('change', function () {
        document.getElementById('page').setAttribute('dir', this.value);
        //here we just change page direction but you must change style (CSS) of all html tags (file menuAR.css and menuEN.css already created) 

    })
</script>

    